*{
  box-sizing: border-box;
}
ul{
  display: inline-block;
  margin: 0;
  margin-right: 100px;
  margin-left: 100px;
  padding: 0;
  list-style-type: none;
}
.germany{
  width: 300px;
  height: 180px;
  margin: 20px;
  border: 1px solid black;
  color: white;
  background: linear-gradient(to bottom,black 33%, red 33%,red 66%, yellow 66%);
}
.france{
  width: 300px;
  height: 180px;
  margin: 20px;
  border: 1px solid black;
  background: linear-gradient(90deg ,blue 33%, white 33%,white 66%, red 66%);
}
.russia{
  width: 300px;
  height: 180px;
  margin: 20px;
  border: 1px solid black;
  background: linear-gradient(to bottom,white 50%,  red 50%);
}
.poland{
  width: 300px;
  height: 180px;
  margin: 20px;
  border: 1px solid black;
  color: white;
  background: linear-gradient(to bottom,black 33%, red 33%,red 66%, yellow 66%);
}
.italy{
  width: 300px;
  height: 180px;
  margin: 20px;
  border: 1px solid black;
  background: linear-gradient(90deg ,green 33%, white 33%,white 66%, red 66%);
}
.armenia {
  width: 300px;
  height: 180px;
  margin: 20px;
  border: 1px solid black;
  background: linear-gradient(to top ,orange 33%, blue 33%,blue 66%, red 66%);
}
.india{
  width: 300px;
  height: 180px;
  margin: 20px;
  border: 1px solid black;
  background: linear-gradient(to bottom ,orange 33%, white 33%,white 66%, green 66%);
}
.japan{
  width: 300px;
  height: 180px;
  margin: 20px;
  border: 1px solid black;
  background: radial-gradient(circle, rgba(255,2,2,1) 35%, rgba(255,255,255,1) 35%);
}